<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shoppingmall.example.mapper.PointMapper">


	<select id="read_point" parameterType="Point" resultType="Point">
		SELECT        	user_id                as   username,
						user_name              as   name,
						po_content             as   content,
						po_point               as   point,
						po_total_point         as   total_point,
						po_date                as   date
						
		FROM 			point 
	</select>

	 
	 <select id="sumPointById" parameterType="Point" resultType="Point">
	 
		 SELECT 		sum(po_point)         as total_point,
		 				user_name             as name
		 FROM 			point 
		 WHERE			user_id = #{username}
	 
	 
	 </select>
	 
	 
	 <select id="checkId" parameterType="Point" resultType="Point">
	 
	 	SELECT         user_id                 as username
	 	FROM           user
	 
	 	WHERE          user_id = #{username}
	 
	 </select>
	 
	 
	 
	 <insert id="createPoint" parameterType="Point">
	 
	 	INSERT 		INTO    point(
	 				user_id,
	 				user_name,
	 				po_content,
	 				po_point,
	 				po_total_point,
	 				po_date
	 	) VALUES(
	 		#{username},
	 		#{name},
	 		#{content},
	 		#{point},
	 		#{total_point},
	 		#{date}
	 	)
	  
	 </insert>
	 
	 
	 <insert id="join" parameterType="User">
	 	INSERT 		INTO    point(
	 				user_id,
	 				user_name,
	 				po_content,
	 				po_point,
	 				po_total_point,
	 				po_date
	 	) VALUES(
	 		#{username},
	 		#{name},
	 		'회원가입 축하',
	 		1000,
	 		1000,
	 		#{date}
	 	)  
	 </insert>
	 
	 
	 
	 	<!-- id로 입력한 값이 product_img에도 id로 일단은 입력되도록 설정함. -->
	<insert id="createImage" parameterType="Product" >      
		INSERT INTO product_img (
			p_id, 
			pi_image, 
			pi_id,
			pi_unique
		) VALUES (
			#{id}, 
			#{image}, 
			#{id},
			#{unique}
		)
	</insert>
	 
	 
	 

</mapper>